
.wrapper_banner{
  width: 100% ;
  margin: 0px;
  padding: 48px 2em ;
  padding-top: 96px !important;
  height: auto;
  /* aspect-ratio: 4 / 1.4 !important; */
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper_banner_min{
  width: 100% ;
  margin: 0px;
  padding: 48px 2em ;
  height: 96px !important;
  /* aspect-ratio: 4 / 1.4 !important; */
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_header{
  max-width: 80%;
  min-width: 200px;
}
.headerOne{
  font-size: 4em !important;
  font-weight: 800;
  text-align: center;

  color: whitesmoke;
}
.headerOneResp{
  font-size: 2.5em !important;
  font-weight: 800;
  text-align: center;

  color: whitesmoke;
}

/* 
.wrapper_banner  img[src=""]{
  background-color: #f7f2ec;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%237B7B7B3B' stroke_width='3' stroke_dasharray='4%2c8' stroke_dashoffset='0' stroke_linecap='square'/%3e%3c/svg%3e");
  border-radius: 8px;

  height: 100px !important;
  width: 100px !important;
  padding: 1em;
} */


@media only screen and (min-height: 768px) {
  .wrapper_banner{
    min-height: 505.66px;
  }
  .headerOne{
    font-size: 5em !important;
  }
}